* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #fef9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 2rem;
  padding: 2rem 0;
}

.carousel-container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}

.carousel-container.blue-bg {
  background: #1e88e5;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease;
  padding: 20px 0;
}

.card {
  flex: 0 0 calc(25% - 10px);
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card.primary-card {
  height: 250px;
  background: #a049bd;
  color: white;
}

/* Second row cards */
.card.transparent-card {
  background: transparent;
  border: 2px solid white;
  color: white;
}

.card.small-card {
  height: 180px;
  margin: 10px 10px 10px 0;
}

img {
  object-fit: cover;
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 10px);
  }

  .card.primary-card {
    height: 250px;
  }

  .card.small-card {
    height: 200px;
  }

  img {
    height: 150px;
    width: 150px;
  }

  .card.primary-card img {
    height: 100%;
    width: 100%;
  }
}
