* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 20px;
  background: #fef9ff;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.carousel-container {
  width: 1290px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card {
  width: 300px;
  height: 400px;
  margin: 0 5px;
  flex-shrink: 0;
}

.card-content {
  background: #a049bd;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.cards {
  width: 100%;
  height: 500px;
  background-color: rgb(49, 49, 119);

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container2 {
  width: 1440px;
  overflow: hidden;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  background: transparent;
  padding: 0 10px;
}

.carousel2-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.card2 {
  width: 230px;
  height: 300px;
  margin: 0 5px;
  flex-shrink: 0;
  border: 3px white solid;
}

.card-content2 {
  background: transparent;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

@media (max-width: 600px) {
  .carousel-container,
  .carousel-container2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  .card,
  .card2 {
    width: 48%;
    height: 350px;
    margin-right: 2%;
  }

  .card:last-child,
  .card2:last-child {
    margin-right: 0;
  }

  .card-content2 {
    font-size: 16px;
  }
}
